[Unit]
Description=Resin supervisor service
After=connman.service

[Service]
Type=forking
ExecStart=-@BASE_BINDIR@/supervisor-init
StandardError=syslog
RemainAfterExit=no

[Install]
WantedBy=basic.target
