[Unit]
Description=Resin Hostname Configuration
Requires=resin-device-uuid.service etc-hostname.mount
After=resin-device-uuid.service etc-hostname.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BINDIR@/resin-hostname

[Install]
WantedBy=multi-user.target
