[Unit]
Description=Runtime development features management
DefaultDependencies=no
RequiresMountsFor=/var/volatile
Before=umount.target
Conflicts=umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/sh @BINDIR@/development-features

[Install]
WantedBy=multi-user.target
