[Unit]
Description=Resin device uuid
Requires=resin-boot.service home-root-.rnd.mount
After=resin-boot.service home-root-.rnd.mount os-config-devicekey.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="HOME=/home/root"
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-unique-key uuid

[Install]
WantedBy=basic.target
