[Unit]
Description=Balena persistent logs
Requires=resin-boot.service systemd-journald.service
After=resin-boot.service systemd-journald.service
RequiresMountsFor=/mnt/state

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BINDIR@/balena-persistent-logs

[Install]
WantedBy=multi-user.target
