[Unit]
Description=Balena persistent logs
Requires=mnt-boot.mount systemd-journald.service
After=mnt-boot.mount systemd-journald.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BINDIR@/balena-persistent-logs

[Install]
WantedBy=multi-user.target
