[Unit]
Description=Config.json watcher service
Wants=prepare-openvpn.service balena-ntp-config.service

[Service]
Type=oneshot
ExecStart=/bin/echo 'config.json changed'
