[Unit]
Description=Config.json watcher service
Before=config-json.target

[Service]
Type=oneshot
ExecStart=/bin/echo 'config.json changed'
ExecStart=/bin/systemctl restart config-json.target
