[Unit]
Description=OS SSH keys
Requires=bind-home-root-.ssh.service
After=bind-home-root-.ssh.service
RequiresMountsFor=/mnt/boot

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@SBINDIR@/os-sshkeys

[Install]
WantedBy=multi-user.target
