[Unit]
Description=OS SSH keys
Requires=resin-boot.service bind-home-root-.ssh.service
After=resin-boot.service bind-home-root-.ssh.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@SBINDIR@/os-sshkeys

[Install]
WantedBy=multi-user.target
