[Unit]
Description=udev rules configuration from config.json
Requires=bind-etc-udev-rules.d.service
After=bind-etc-udev-rules.d.service
RequiresMountsFor=/mnt/boot

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@SBINDIR@/os-udevrules

[Install]
WantedBy=multi-user.target
