# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

CORE_BBLAYERS ?= " \
    ${TOPDIR}/../poky/meta \
    ${TOPDIR}/../poky/meta-yocto \
    ${TOPDIR}/../../yocto-all/meta-resin/meta-resin-common \
    ${TOPDIR}/../../yocto-all/meta-resin/meta-resin-daisy \
    ${TOPDIR}/../meta-openembedded/meta-oe \
    ${TOPDIR}/../meta-openembedded/meta-networking \
    "

EDISON_BBLAYERS += " \
    ${TOPDIR}/../edison-src/meta-intel-edison/meta-intel-edison-bsp \
    ${TOPDIR}/../edison-src/meta-intel-edison/meta-intel-edison-distro \
    ${TOPDIR}/../edison-src/meta-intel-edison/meta-intel-arduino \
    ${TOPDIR}/../meta-intel-iot-middleware \
    ${TOPDIR}/../../yocto-all/meta-resin/meta-resin-edison \
    "

BBLAYERS ?= " \
    ${CORE_BBLAYERS} \
    ${EDISON_BBLAYERS} \
    "

BBLAYERS_NON_REMOVABLE ?= " \
    ${TOPDIR}/../poky/meta \
    ${TOPDIR}/../poky/meta-yocto \
    ${TOPDIR}/../../yocto-all/meta-resin/meta-resin-common \
    ${TOPDIR}/../../yocto-all/meta-resin/meta-resin-daisy \
    "
