[Unit]
Description=Prepare resin supervisor
Requires=rce.service mnt-data.mount
Wants=resin-init.service
After=\
    rce.service \
    mnt-data.mount \
    resin-init.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/bash @BINDIR@/prepare-resin-supervisor
