[Unit]
Description=Resin supervisor
Requires=\
    rce.service \
    resin\x2ddata.mount
Wants=\
    connman.service
After=\
    rce.service \
    resin\x2ddata.mount \
    connman.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/supervisor.conf
EnvironmentFile=-/tmp/update-supervisor.conf
ExecStartPre=@BASE_BINDIR@/touch /etc/resolv.conf
ExecStartPre=-@BINDIR@/rce stop resin_supervisor
ExecStartPre=-@BINDIR@/rce rm --force resin_supervisor
ExecStart=@BASE_BINDIR@/bash -c 'source @SBINDIR@/resin-vars && \
    @BINDIR@/rce run -d --privileged --name resin_supervisor \
    --net=host \
    -v /var/run/rce.sock:/run/docker.sock \
    -v $CONFIG_PATH:/boot/config.json  \
    -v /mnt/data/apps.json:/boot/apps.json \
    -v /resin-data/resin-supervisor:/data \
    -v /proc/net/fib_trie:/mnt/fib_trie \
    -v /var/log/supervisor-log:/var/log \
    -v /:/mnt/root \
    -v /etc/resolv.conf:/etc/resolv.conf:ro \
    -e API_ENDPOINT=$API_ENDPOINT \
    -e REGISTRY_ENDPOINT=$REGISTRY_ENDPOINT \
    -e PUBNUB_SUBSCRIBE_KEY=$PUBNUB_SUBSCRIBE_KEY \
    -e PUBNUB_PUBLISH_KEY=$PUBNUB_PUBLISH_KEY \
    -e MIXPANEL_TOKEN=$MIXPANEL_TOKEN \
    -e LED_FILE=${LED_FILE} \
    -e LISTEN_PORT=$LISTEN_PORT \
    -e SUPERVISOR_IMAGE=${SUPERVISOR_IMAGE} \
    ${SUPERVISOR_IMAGE}'
ExecStop=-@BINDIR@/rce stop resin_supervisor
ExecStop=-@BINDIR@/rce rm --force resin_supervisor

[Install]
WantedBy=multi-user.target
