[Unit]
Description=NetworkManager system connections bind mount
Requires=mnt-conf.mount
After=mnt-conf.mount

[Mount]
What=/mnt/conf/root-overlay/etc/NetworkManager/system-connections
Where=/etc/NetworkManager/system-connections
Type=None
Options=bind

[Install]
WantedBy=resin-bind.target
