[Unit]
Description=OpenSSL random state bind mount
Requires=tmp.mount systemd-tmpfiles-setup.service
After=tmp.mount systemd-tmpfiles-setup.service

[Mount]
What=/tmp/.rnd
Where=/home/root/.rnd
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
