[Unit]
Description=Flasher boot partition mountpoint
DefaultDependencies=no
Before=umount.target
Conflicts=umount.target

[Mount]
What=/dev/disk/by-label/flash-boot
Where=/mnt/bootorig
Type=vfat

[Install]
WantedBy=multi-user.target
