[Unit]
Description=Flasher conf partition mountpoint
DefaultDependencies=no
Requires=mnt-bootorig.mount temp-conf.service tmp.mount
After=mnt-bootorig.mount temp-conf.service tmp.mount
Before=umount.target
Conflicts=umount.target

[Mount]
What=/tmp/conf/config.json
Where=/mnt/bootorig/config.json
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
