[Unit]
Description=Flasher boot partition mountpoint
DefaultDependencies=no
Before=umount.target
Conflicts=umount.target

[Mount]
What=/dev/disk/by-label/flash-boot
Where=/mnt/boot
Type=vfat
Options=ro

[Install]
WantedBy=multi-user.target
