[Unit]
Description=Flasher conf partition mountpoint
Requires=temp-conf.service tmp.mount
After=temp-conf.service tmp.mount

[Mount]
What=/tmp/conf
Where=/mnt/conf
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
