[Unit]
Description=Flasher conf partition mountpoint

[Mount]
What=/dev/disk/by-label/flash-conf
Where=/mnt/conforig
Type=vfat

[Install]
WantedBy=multi-user.target
