[Unit]
Description=Temporary resin config in /tmp/conf
DefaultDependencies=no
Requires=mnt-boot.mount tmp.mount
After=mnt-boot.mount tmp.mount
Before=umount.target
Conflicts=umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/cp -vf /mnt/boot/config.json /tmp/config.json

[Install]
WantedBy=multi-user.target
