[Unit]
Description=Temporary resin config in /tmp/conf
DefaultDependencies=no
Requires=mnt-bootorig.mount tmp.mount
After=mnt-bootorig.mount tmp.mount
Before=umount.target
Conflicts=umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=@BASE_BINDIR@/mkdir -p /tmp/conf
ExecStart=@BASE_BINDIR@/cp -vf /mnt/bootorig/config.json /tmp/conf/config.json

[Install]
WantedBy=multi-user.target
