[Unit]
Description=RCE
Requires=\
    rce.socket \
    var-lib-rce.mount \
    \x2erce.mount
After=\
    rce.socket \
    var-lib-rce.mount \
    \x2erce.mount

[Service]
Type=notify
Restart=always
#Adjust OOMscore to -900 to make killing rce unlikely
OOMScoreAdjust=-900
ExecStart=@BINDIR@/rce --restart=false -s aufs -d -g /var/lib/rce
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
Also=rce.socket
