[Unit]
Description=Expand resin-data partition
DefaultDependencies=no
Requires=dev-disk-by\x2dlabel-resin\x2ddata.device
After=dev-disk-by\x2dlabel-resin\x2ddata.device
Before=mnt-data.mount umount.target
Conflicts=umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-filesystem-expand

[Install]
WantedBy=multi-user.target
