[Unit]
Description=Balena Hostname Configuration
Requires=balena-device-uuid.service bind-etc-hostname.service
After=balena-device-uuid.service bind-etc-hostname.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BINDIR@/balena-hostname

[Install]
WantedBy=multi-user.target
