[Unit]
Description=config.json split into configuration units
Requires=resin-boot.service bind-home-root-.ssh.service
After=resin-boot.service bind-home-root-.ssh.service

[Service]
Type=oneshot
ExecStart=@SBINDIR@/os-config-json

[Install]
WantedBy=multi-user.target
