[Unit]
Description=Resin proxy configuration service
After=dnsmasq.service
RequiresMountsFor=/mnt/boot

[Service]
Type=oneshot
ExecStart=@BASE_BINDIR@/sh @BINDIR@/balena-proxy-config
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
