[Unit]
Description=Balena Application Container Engine
Documentation=https://www.balena.io/docs/getting-started
Wants=dnsmasq.service
Requires=balena-engine.socket var-lib-docker.mount bind-etc-docker.service bind-home-root-.docker.service
After=network.target balena-engine.socket var-lib-docker.mount bind-etc-docker.service bind-home-root-.docker.service dnsmasq.service rollback-altboot.service

[Service]
Type=notify
Restart=always
SyslogIdentifier=balenad
ExecStart=/usr/bin/healthdog --healthcheck=/usr/lib/balena/balena-healthcheck /usr/bin/balenad --experimental --log-driver=journald -s @BALENA_STORAGE@ -H fd:// -H unix:///var/run/balena.sock -H unix:///var/run/balena-engine.sock --dns 10.114.102.1 --bip 10.114.101.1/24 --fixed-cidr=10.114.101.0/25 --max-download-attempts=10 --exec-opt native.cgroupdriver=systemd
ExecStartPost=/bin/bash -c '/usr/lib/balena/balena-healthcheck-image-load &'
#Adjust OOMscore to -900 to make killing unlikely
OOMScoreAdjust=-900
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
WatchdogSec=360
Restart=always

[Install]
Alias=balena-engine.service
WantedBy=multi-user.target
