[Unit]
Description=Balena Application Container Engine (host)
Documentation=https://www.balena.io/docs/getting-started
Wants=dnsmasq.service
Requires=balena-host.socket mnt-sysroot-active.service
After=network.target mnt-sysroot-active.service dnsmasq.service rollback-altboot.service balena-host.socket
ConditionVirtualization=!docker

[Service]
Type=notify
Restart=always
ExecStart=/usr/bin/balenad --delta-data-root=/mnt/sysroot/active/balena --delta-storage-driver=@BALENA_STORAGE@ --log-driver=journald -s @BALENA_STORAGE@ --data-root=/mnt/sysroot/inactive/balena -H fd:// --pidfile=/var/run/balena-host.pid --exec-root=/var/run/balena-host --bip 10.114.101.1/24 --fixed-cidr=10.114.101.128/25 --iptables=false --max-download-attempts=10 --exec-opt native.cgroupdriver=systemd
#Adjust OOMscore to -900 to make killing unlikely
OOMScoreAdjust=-900
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

