[Unit]
Description=Balena Application Container Engine
Documentation=https://www.balena.io/docs/getting-started
Wants=dnsmasq.service
Requires=balena-engine.socket var-lib-docker.mount bind-etc-docker.service bind@ROOT_HOME@-.docker.service development-features.service balena-hostname.service
After=network.target balena-engine.socket var-lib-docker.mount bind-etc-docker.service bind@ROOT_HOME@-.docker.service dnsmasq.service rollback-altboot.service development-features.service balena-hostname.service
PartOf=development-features.target

[Service]
Type=notify
Restart=always
SyslogIdentifier=balenad
Environment=BALENAD_HEALTHDOG_HEALTHCHECK=/usr/lib/balena/balena-healthcheck
Environment=BALENAD_EXPERIMENTAL=--experimental
Environment=BALENAD_DEBUG=
Environment=BALENAD_LOGDRIVER=--log-driver=journald
Environment=BALENAD_STORAGEDRIVER=--storage-driver=overlay2
Environment=BALENAD_CGROUPDRIVER=--exec-opt=native.cgroupdriver=systemd
Environment=BALENAD_DELTA_STORAGEDRIVER=
Environment=BALENAD_DELTA_DATA_ROOT=
Environment=BALENAD_DATA_ROOT=
Environment=BALENAD_PIDFILE=
Environment=BALENAD_EXEC_ROOT=
Environment=BALENAD_HOST="-H fd:// -H unix:///var/run/balena.sock -H unix:///var/run/balena-engine.sock"
Environment=BALENAD_DNS=--dns=10.114.102.1
Environment=BALENAD_BIP=--bip=10.114.101.1/24
Environment=BALENAD_CIDR=--fixed-cidr=10.114.101.0/25
Environment=BALENAD_IPTABLES=
Environment=BALENAD_MAX_DL_ATTEMPTS=--max-download-attempts=10
Environment=BALENAD_EXTRA_ARGS=
Environment="BALENA_DEVELOPMENT_ARGS="
EnvironmentFile=-/var/volatile/development-features
ExecStart=/usr/bin/healthdog --healthcheck=${BALENAD_HEALTHDOG_HEALTHCHECK} /usr/bin/balenad $BALENAD_EXPERIMENTAL $BALENAD_DEBUG $BALENAD_LOGDRIVER $BALENAD_STORAGEDRIVER $BALENAD_HOST $BALENAD_DATA_ROOT $BALENAD_DELTA_STORAGEDRIVER $BALENAD_DELTA_DATA_ROOT $BALENAD_EXEC_ROOT $BALENAD_PIDFILE $BALENAD_DNS $BALENAD_BIP $BALENAD_CIDR $BALENAD_IPTABLES $BALENAD_MAX_DL_ATTEMPTS $BALENAD_CGROUPDRIVER $BALENAD_EXTRA_ARGS $BALENA_DEVELOPMENT_ARGS
#Adjust OOMscore to -900 to make killing unlikely
OOMScoreAdjust=-900
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
# Don't generate core dumps. This way, user apps that are crashlooping will not
# fill up all storage space.
LimitCORE=0
WatchdogSignal=SIGTERM
WatchdogSec=360
Restart=always
KillMode=process
TimeoutStartSec=infinity
# Let balenaEngine (instead of systemd) manage the containers cgroups.
Delegate=yes

[Install]
Alias=balena-engine.service
WantedBy=multi-user.target
