[Unit]
Description=Docker data mountpoint
Requires=resin-data.service var-volatile-lib.service
After=resin-data.service var-volatile-lib.service

[Mount]
What=/mnt/data/docker
Where=/var/lib/docker
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
