[Unit]
Description=Resin device uuid
Requires=mnt-boot.mount
After=mnt-boot.mount

[Service]
Type=simple
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-device-uuid

[Install]
WantedBy=multi-user.target
