[Unit]
Description=Resin device api key
Requires=resin-boot.service bind-home-root-.rnd.service
After=resin-boot.service bind-home-root-.rnd.service resin-device-uuid.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="HOME=/home/root"
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-unique-key deviceApiKey

[Install]
WantedBy=multi-user.target
