[Unit]
Description=Resin device uuid
Requires=mnt-boot.mount home-root-.rnd.mount
After=mnt-boot.mount home-root-.rnd.mount

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="HOME=/home/root"
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-unique-key uuid

[Install]
WantedBy=multi-user.target
