[Unit]
Description=Resin info on %I
After=resin-supervisor.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@SBINDIR@/bash @SBINDIR@/resin-info %I

[Install]
WantedBy=multi-user.target
