[Unit]
Description=Resin info on %I
After=resin-supervisor.service
ConditionVirtualization=!docker

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/bash @SBINDIR@/resin-info %I

[Install]
WantedBy=multi-user.target
