[Unit]
Description=Prepare OpenVPN
Requires=resin-boot.service balena-device-uuid.service os-config-devicekey.service var-volatile.mount
After=resin-boot.service balena-device-uuid.service os-config-devicekey.service var-volatile.mount
ConditionFileNotEmpty=/etc/openvpn/openvpn.conf

[Service]
Type=oneshot
ExecStart=/usr/bin/prepare-openvpn
