[Unit]
Description=Prepare OpenVPN
Requires=resin-boot.service resin-device-uuid.service resin-device-api-key.service var-volatile.mount
After=resin-boot.service resin-device-uuid.service resin-device-api-key.service var-volatile.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/prepare-openvpn
