[Unit]
Description=Resin network configure service
Requires=bind-etc-NetworkManager-system-connections.service bind-etc-NetworkManager-dispatcher.d.service
After=bind-etc-NetworkManager-system-connections.service bind-etc-NetworkManager-dispatcher.d.service
RequiresMountsFor=/mnt/boot

[Service]
ExecStart=@BASE_BINDIR@/bash @BINDIR@/balena-net-config
Type=oneshot
RemainAfterExit=yes
StandardError=journal+console

[Install]
WantedBy=multi-user.target
