[Unit]
Description=Balena EFI partition mount service
DefaultDependencies=no
After=resin-boot.service
Requires=resin-boot.service
Before=umount.target
Conflicts=umount.target
ConditionVirtualization=!docker
ConditionPathIsSymbolicLink=/mnt/boot/EFI

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/resin-partition-mounter --mount balena-efi
ExecStop=/usr/bin/resin-partition-mounter --umount balena-efi

[Install]
WantedBy=multi-user.target
