[Unit]
Description=Bind mount for /etc/fake-hwclock
Requires=resin-state-reset.service
After=resin-state-reset.service

[Mount]
What=/mnt/state/root-overlay/etc/fake-hwclock
Where=/etc/fake-hwclock
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
