[Unit]
Description=Resin active root partition mount service
DefaultDependencies=no
Before=umount.target
Conflicts=umount.target
ConditionVirtualization=!docker

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/resin-partition-mounter --sysroot --mount active
ExecStop=/usr/bin/resin-partition-mounter --sysroot --umount active
