[Unit]
Description=Resin NTP server configure service
Requires=balena-net-config.service
After=balena-net-config.service
PartOf=config-json.target

[Service]
ExecStart=@BINDIR@/balena-ntp-config
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
