[Unit]
Description=Resin proxy configuration service
Requires=resin-boot.service
After=resin-boot.service dnsmasq.service multi-user.target

[Service]
Type=oneshot
ExecStart=@BASE_BINDIR@/sh @BINDIR@/resin-proxy-config
RemainAfterExit=yes

[Install]
WantedBy=os-late-init.target
