[Unit]
Description=OpenSSH Key Generation
RequiresMountsFor=/var /run
Requires=mnt-state.mount bind-etc-ssh-hostkeys.service
After=mnt-state.mount bind-etc-ssh-hostkeys.service

[Service]
ExecStart=@LIBEXECDIR@/sshd_check_keys
Type=oneshot
RemainAfterExit=yes

[Install]                                                                                                                                                                                                                                                                                                                                                                                
WantedBy=multi-user.target
