[Unit]
Description=Resin init flasher service
Wants=resin-device-register.service
After=resin-device-register.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-init-flasher

[Install]
WantedBy=multi-user.target
