[Unit]
Description=Resin init flasher service
Requires=mnt-boot.mount
Wants=resin-device-register.service
After=mnt-boot.mount resin-device-register.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-init-flasher
StandardOutput=tty
StandardError=tty
TTYPath=/dev/ttyS0

[Install]
WantedBy=multi-user.target
