[Unit]
Description=Resin persistent logs
DefaultDependencies=no
Requires=mnt-boot.mount var-log-journal.mount resin-prepare-logs.service etc-systemd-journald.conf.d.mount
After=mnt-boot.mount var-log-journal.mount resin-prepare-logs.service etc-systemd-journald.conf.d.mount
Before=umount.target
Conflicts=umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BINDIR@/resin-logs

[Install]
WantedBy=multi-user.target
