[Unit]
Description=Resin persistent logs
Requires=var-log-journal.mount
After=var-log-journal.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BINDIR@/resin-logs

[Install]
WantedBy=multi-user.target
