[Unit]
Description=Prepare Resin persistent logs
DefaultDependencies=no
Requires=var-volatile.mount
After=var-volatile.mount
Before=umount.target
Conflicts=umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/mkdir -p /var/volatile/log/journal

[Install]
WantedBy=multi-user.target
