[Unit]
Description=Runtime OS fan profile management
DefaultDependencies=no
Requires=var-volatile.mount
After=var-volatile.mount resin-boot.service
Before=umount.target
Conflicts=umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/sh @BINDIR@/os-fan-profile

[Install]
WantedBy=multi-user.target
