[Unit]
Description=ResinOS supervisor configuration
Requires=mnt-conf.mount resin-conf-reset.service
After=mnt-conf.mount resin-conf-reset.service

[Mount]
What=/mnt/conf/root-overlay/etc/resin-supervisor
Where=/etc/resin-supervisor
Type=None
Options=bind

[Install]
WantedBy=resin-bind.target
