[Unit]
Description=Docker key.json bind mount
Requires=mnt-state.mount resin-state-reset.service
After=mnt-state.mount resin-state-reset.service

[Mount]
What=/mnt/state/root-overlay/etc/docker
Where=/etc/docker
Type=none
Options=bind

[Install]
WantedBy=resin-bind.target
