[Unit]
Description=Resin target mount point to persistent location
Requires=resin-state.service resin-state-reset.service
After=resin-state.service resin-state-reset.service

[Mount]
What=/mnt/state/root-overlay/etc/systemd/system/resin.target.wants
Where=/etc/systemd/system/resin.target.wants
Type=None
Options=bind

[Install]
WantedBy=resin-bind.target
