[Unit]
Description=ResinOS supervisor configuration
Requires=mnt-conf.mount resin-conf-reset.service
After=mnt-conf.mount resin-conf-reset.service

[Mount]
What=/mnt/conf/root-overlay/etc/supervisor.conf
Where=/etc/supervisor.conf
Type=None
Options=bind

[Install]
WantedBy=resin-bind.target
