[Unit]
Description=Resin data partition mountpoint

[Mount]
What=/dev/disk/by-label/resin-data
Where=/mnt/data
Type=auto

[Install]
WantedBy=multi-user.target
