[Unit]
Description=Resin conf partition mountpoint
DefaultDependencies=no
Before=umount.target
Conflicts=umount.target

[Mount]
What=/dev/disk/by-label/resin-conf
Where=/mnt/conf
Type=ubifs

[Install]
WantedBy=multi-user.target
