[Unit]
Description=Resin boot partition mountpoint
DefaultDependencies=no
Before=umount.target
Conflicts=umount.target

[Mount]
What=/dev/disk/by-label/resin-boot
Where=/mnt/boot
Type=auto

[Install]
WantedBy=multi-user.target
