[Unit]
Description=Resin boot partition mountpoint

[Mount]
What=/dev/disk/by-label/resin-boot
Where=/mnt/boot
Type=vfat

[Install]
WantedBy=multi-user.target
