[Unit]
Description=Resin inactive root partition mount service
DefaultDependencies=no
Before=umount.target
Conflicts=umount.target
ConditionVirtualization=!docker

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/resin-partition-mounter --sysroot --mount inactive
ExecStop=/usr/bin/resin-partition-mounter --sysroot --umount inactive
