[Unit]
Description=Resin data partition mountpoint
Requires=systemd-udev-settle.service
After=systemd-udev-settle.service
ConditionVirtualization=!docker

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount /dev/disk/by-label/resin-data /mnt/data

[Install]
WantedBy=multi-user.target
