[Unit]
Description=Resin data partition mount service
DefaultDependencies=no
Before=umount.target
Conflicts=umount.target
ConditionVirtualization=!docker

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/resin-partition-mounter --mount resin-data
ExecStop=/usr/bin/resin-partition-mounter --umount resin-data

[Install]
WantedBy=multi-user.target
