[Unit]
Description=Resin state partition mount service
DefaultDependencies=no
Before=umount.target
Conflicts=umount.target
ConditionVirtualization=!docker

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/resin-partition-mounter --mount resin-state
ExecStop=/usr/bin/resin-partition-mounter --umount resin-state

[Install]
WantedBy=multi-user.target
