[Unit]
Description=ResinOS persistent logging location
Requires=mnt-conf.mount resin-conf-reset.service
After=mnt-conf.mount resin-conf-reset.service

[Mount]
What=/mnt/conf/root-overlay/var/log/journal
Where=/var/log/journal
Type=None
Options=bind

[Install]
WantedBy=resin-bind.target
