[Unit]
Description=ResinOS persistent logging location
DefaultDependencies=no
Requires=mnt-state.mount resin-state-reset.service systemd-tmpfiles-setup.service
After=mnt-state.mount resin-state-reset.service systemd-tmpfiles-setup.service
Before=umount.target
Conflicts=umount.target

[Mount]
What=/mnt/state/root-overlay/var/log/journal
Where=/var/log/journal
Type=None
Options=bind

[Install]
WantedBy=resin-bind.target
