[Unit]
Description=Balena device UUID
Requires=resin-boot.service home-root-.rnd.mount
After=resin-boot.service home-root-.rnd.mount os-config-devicekey.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="HOME=/home/root"
ExecStart=@BASE_BINDIR@/bash @BINDIR@/balena-unique-key uuid

[Install]
WantedBy=basic.target
