[Unit]
Description=Config.json watcher
Requires=resin-boot.service
After=resin-boot.service

[Service]
Type=oneshot
ExecStart=/bin/echo 'config.json changed'

[Install]
WantedBy=resin-boot.service
