[Unit]
Description=NetworkManager configuration fragments from config.json
Requires=resin-boot.service bind-etc-NetworkManager-conf.d.service
After=resin-boot.service bind-etc-NetworkManager-conf.d.service
Before=NetworkManager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@SBINDIR@/os-networkmanager
SyslogIdentifier=os-networkmanager

[Install]
WantedBy=multi-user.target
