[Unit]
Description=Resin BTRFS balance
Requires=mnt-data.mount
After=mnt-data.mount

[Service]
Type=simple
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-btrfs-balance
