# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

CORE_BBLAYERS ?= " \
    ${TOPDIR}/../poky/meta \
    ${TOPDIR}/../poky/meta-yocto \
    ${TOPDIR}/../../yocto-all/meta-resin/meta-resin-common \
    ${TOPDIR}/../meta-openembedded/meta-oe \
    ${TOPDIR}/../meta-openembedded/meta-networking \
    ${TOPDIR}/../meta-openembedded/meta-python \
    "

RASPBERRYPI_BBLAYERS += " \
    ${TOPDIR}/../meta-raspberrypi \
    ${TOPDIR}/../../yocto-all/meta-resin/meta-resin-raspberrypi \
    "

BEAGLEBONE_BBLAYERS += " \
    ${TOPDIR}/../meta-ti \
    ${TOPDIR}/../../yocto-all/meta-resin/meta-resin-beaglebone \
    "

NUC_BBLAYERS += " \
    ${TOPDIR}/../meta-intel \
    ${TOPDIR}/../meta-intel/meta-nuc \
    ${TOPDIR}/../../yocto-all/meta-resin/meta-resin-nuc \
    "

NITROGEN6X_BBLAYERS += " \
    ${TOPDIR}/../meta-fsl-arm \
    ${TOPDIR}/../meta-fsl-arm-extra \
    ${TOPDIR}/../../yocto-all/meta-resin/meta-resin-fsl-arm \
    "

PARALLELLA_BBLAYERS += " \
    ${TOPDIR}/../meta-parallella \
    ${TOPDIR}/../meta-xilinx \
    ${TOPDIR}/../../yocto-all/meta-resin/meta-resin-parallella \
    "

BBLAYERS ?= " \
    ${CORE_BBLAYERS} \
    ${RASPBERRYPI_BBLAYERS} \
    ${BEAGLEBONE_BBLAYERS} \
    ${NUC_BBLAYERS} \
    ${NITROGEN6X_BBLAYERS} \
    ${PARALLELLA_BBLAYERS} \
    "

BBLAYERS_NON_REMOVABLE ?= " \
    ${TOPDIR}/../poky/meta \
    ${TOPDIR}/../poky/meta-yocto \
    ${TOPDIR}/../../yocto-all/meta-resin/meta-resin-common \
    "
