[Unit]
Description=Resin init flasher service
Requires=\
    boot.mount \
    mnt-conf.mount \
    resin-device-register
After=\
    boot.mount \
    mnt-conf.mount \
    resin-device-register

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-init-flasher

[Install]
WantedBy=multi-user.target
