[Unit]
Description=OS configuration device key service
DefaultDependencies=no
RequiresMountsFor=/mnt/boot

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/os-config generate-api-key

[Install]
WantedBy=basic.target
