[Unit]
Description=OS configuration update service
Wants=os-config-devicekey.service NetworkManager.service
After=os-config-devicekey.service NetworkManager.service
RequiresMountsFor=/mnt/boot

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/usr/bin/os-config update

[Install]
WantedBy=multi-user.target
