[Unit]
Description=Resin network configure service
Requires=resin-boot.service bind-etc-NetworkManager-system-connections.service
After=resin-boot.service bind-etc-NetworkManager-system-connections.service

[Service]
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-net-config
Type=oneshot
RemainAfterExit=yes
StandardError=journal+console

[Install]
WantedBy=multi-user.target
