[Unit]
Description=Docker Socket for the API
After=multi-user.target

[Socket]
ListenStream=/var/run/balena-host.sock
SocketMode=0660
SocketUser=root
SocketGroup=balena-engine

[Install]
WantedBy=os-late-init.target

