[Unit]
Description=Docker data mountpoint
Requires=mnt-data.mount var-volatile-lib.service
After=mnt-data.mount var-volatile-lib.service

[Mount]
What=/mnt/data/docker
Where=/var/lib/docker
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
