[Unit]
Description=Balena supervisor updater
Requires=\
    balena.service \
    bind-etc-resin-supervisor.service \
    tmp.mount
Wants=\
    mnt-boot.mount \
    resin-supervisor.service
After=\
    balena.service \
    tmp.mount \
    mnt-boot.mount \
    bind-etc-resin-supervisor.service \
    resin-supervisor.service

[Service]
Type=simple
ExecStart=@BASE_BINDIR@/sh @BINDIR@/update-resin-supervisor
