[Unit]
Description=Prepare OpenVPN
Requires=balena-device-uuid.service os-config-devicekey.service
After=balena-device-uuid.service os-config-devicekey.service
RequiresMountsFor=/mnt/boot /var/volatile
ConditionFileNotEmpty=/etc/openvpn/openvpn.conf

[Service]
Type=oneshot
ExecStart=/usr/bin/prepare-openvpn
RemainAfterExit=yes
