[Unit]
Description=Resin NTP configuration service
DefaultDependencies=no
Requires=resin-boot.service bind-etc-systemd-timesyncd.conf.service
After=resin-boot.service bind-etc-systemd-timesyncd.conf.service
Before=systemd-timesyncd.service

[Service]
ExecStart=@BASE_BINDIR@/sh @BINDIR@/resin-ntp-config
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
