[Unit]
Description=Resin NTP configuration service
DefaultDependencies=no
Requires=resin-boot.service chronyd.service
After=resin-boot.service chronyd.service

[Service]
ExecStart=@BASE_BINDIR@/sh @BINDIR@/resin-ntp-config
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
