[Unit]
Description=Docker Application Container Engine (host)
Documentation=http://docs.docker.com
After=network.target mnt-sysroot-active.mount mnt-sysroot-inactive.mount
Wants=dnsmasq.service
Requires=mnt-sysroot-active.mount mnt-sysroot-inactive.mount
Before=dnsmasq.service

[Service]
Type=notify
Restart=always
ExecStart=/usr/bin/dockerd --delta-data-root=/mnt/sysroot/active/docker --delta-storage-driver=@DOCKER_STORAGE@ --log-driver=journald -s @DOCKER_STORAGE@ --data-root=/mnt/sysroot/inactive/docker -H unix:///var/run/docker-host.sock --pidfile=/var/run/docker-host.pid --exec-root=/var/run/docker-host --bip 10.114.101.1/24 --fixed-cidr=10.114.101.128/25 --iptables=false
#Adjust OOMscore to -900 to make killing docker unlikely
OOMScoreAdjust=-900
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
