[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
After=network.target docker.socket var-lib-docker.mount etc-docker.mount home-root-.docker.mount
Requires=docker.socket var-lib-docker.mount etc-docker.mount home-root-.docker.mount
Wants=dnsmasq.service
Before=dnsmasq.service

[Service]
Type=notify
Restart=always
ExecStart=/usr/bin/dockerd --log-driver=journald -s aufs -H fd:// --dns 172.17.0.1
ExecStartPost=/sbin/sysctl -w net.ipv4.conf.docker0.route_localnet=1
ExecStartPost=/usr/sbin/iptables -t nat -I DOCKER -p udp --dport 53 -j DNAT --dst 172.17.0.1/32 --to 127.0.0.2:53
ExecStartPost=/usr/sbin/iptables -t nat -I DOCKER -p tcp --dport 53 -j DNAT --dst 172.17.0.1/32 --to 127.0.0.2:53
#Adjust OOMscore to -900 to make killing docker unlikely
OOMScoreAdjust=-900
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
