[Unit]
Description=Resin device register
Requires=balena-device-uuid.service os-config-devicekey.service
After=balena-device-uuid.service os-config-devicekey.service
RequiresMountsFor=/mnt/boot

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-device-register

[Install]
WantedBy=multi-user.target
