[Unit]
Description=Resin device register
Requires=resin-boot.service balena-device-uuid.service os-config-devicekey.service
After=resin-boot.service balena-device-uuid.service os-config-devicekey.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-device-register

[Install]
WantedBy=multi-user.target
