[Unit]
Description=Expand resin-data BTRFS partition
Requires=mnt-data.mount
After=mnt-data.mount extend-expand.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-btrfs-expand

[Install]
WantedBy=multi-user.target
