[Unit]
Description=Resin supervisor
Requires=\
    docker.service \
    resin\x2ddata.mount \
    resin-device-uuid.service \
    etc-systemd-system-resin.target.wants.mount \
    etc-resin\x2dsupervisor.mount
After=\
    docker.service \
    resin\x2ddata.mount \
    resin-device-uuid.service \
    etc-systemd-system-resin.target.wants.mount \
    etc-resin\x2dsupervisor.mount

[Service]
Type=simple
Restart=always
RestartSec=10s
EnvironmentFile=/etc/resin-supervisor/supervisor.conf
EnvironmentFile=-/tmp/update-supervisor.conf
ExecStartPre=-@BINDIR@/docker stop resin_supervisor
ExecStart=@BINDIR@/start-resin-supervisor
ExecStop=-@BINDIR@/docker stop resin_supervisor

[Install]
WantedBy=resin.target
