[Unit]
Description=Resin supervisor updater
Requires=\
    docker.service \
    tmp.mount
Wants=\
    mnt-boot.mount \
    resin-supervisor.service
After=\
    docker.service \
    tmp.mount \
    mnt-boot.mount \
    resin-supervisor.service

[Service]
Type=simple
ExecStart=@BASE_BINDIR@/bash @BINDIR@/update-resin-supervisor
