[Unit]
Description=OpenVPN Application On Resin
Requires=prepare-openvpn.service
After=syslog.target network.target prepare-openvpn.service

[Service]
PrivateTmp=true
Type=forking
Restart=always
RestartSec=10s
#Adjust OOMscore to -1000 to disable OOM killing for openvpn
OOMScoreAdjust=-1000
PIDFile=/var/run/openvpn/resin.pid
ExecStartPre=-/bin/mkdir -p /var/run/openvpn
ExecStart=/usr/sbin/openvpn --daemon --writepid /var/run/openvpn/resin.pid --cd /etc/openvpn/ --config /run/openvpn/resin.conf

[Install]
WantedBy=resin.target
