[Unit]
Description=OpenVPN
Requires=prepare-openvpn.service
After=syslog.target network.target prepare-openvpn.service time-sync.target

[Service]
PrivateTmp=true
Type=forking
Restart=always
RestartSec=10s
#Adjust OOMscore to -1000 to disable OOM killing for openvpn
OOMScoreAdjust=-1000
PIDFile=/var/run/openvpn/resin.pid
ExecStart=/usr/sbin/openvpn --daemon --writepid /var/run/openvpn/resin.pid --cd /etc/openvpn/ --config /run/openvpn/resin.conf

[Install]
Alias=openvpn-resin.service
WantedBy=resin.target
