[Unit]
Description=Prepare OpenVPN NetworkManager config On Resin
Requires=mnt-boot.mount resin-device-uuid.service resin-net-config.service
After=mnt-boot.mount resin-device-uuid.service resin-net-config.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BINDIR@/prepare-openvpn

[Install]
WantedBy=resin.target
