[Unit]
Description=Prepare OpenVPN Application On Resin
Requires=mnt-boot.mount resin-device-uuid.service
After=mnt-boot.mount resin-device-uuid.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BINDIR@/prepare-openvpn

[Install]
WantedBy=multi-user.target
