[Unit]
Description=resin-data bind mount
Requires=resin-data.service balena-data-reset.service
After=resin-data.service balena-data-reset.service

[Mount]
What=/mnt/data/resin-data
Where=/resin-data
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
