[Unit]
Description=Balena supervisor updater
Requires=\
    balena.service \
    bind-etc-balena-supervisor.service \
    tmp.mount
Wants=balena-supervisor.service
After=\
    balena.service \
    tmp.mount \
    bind-etc-balena-supervisor.service \
    balena-supervisor.service

[Service]
Type=simple
ExecStart=@BASE_BINDIR@/sh @BINDIR@/update-balena-supervisor
StandardOutput=null
StandardError=null

[Install]
Alias=update-resin-supervisor.service
