[Unit]
Description=Resin supervisor
Requires=\
    resin\x2ddata.mount \
    resin-device-uuid.service \
    os-config-devicekey.service \
    bind-etc-resin-supervisor.service
After=\
    balena.service \
    resin\x2ddata.mount \
    resin-device-uuid.service \
    os-config-devicekey.service \
    bind-etc-systemd-system-resin.target.wants.service \
    bind-etc-resin-supervisor.service \
    chronyd.service
Wants=balena.service

[Service]
Type=simple
Restart=always
RestartSec=10s
WatchdogSec=60
EnvironmentFile=/etc/resin-supervisor/supervisor.conf
EnvironmentFile=-/tmp/update-supervisor.conf
ExecStartPre=-@BINDIR@/balena stop resin_supervisor
ExecStartPre=/bin/systemctl is-active balena.service
ExecStart=/usr/bin/healthdog --healthcheck=/usr/lib/resin-supervisor/resin-supervisor-healthcheck @BINDIR@/start-resin-supervisor
ExecStop=-@BINDIR@/balena stop resin_supervisor

[Install]
WantedBy=multi-user.target
