[Unit]
Description=Resin persistent logs
Requires=resin-boot.service resin-state.service systemd-journald.service
After=resin-boot.service resin-state.service systemd-journald.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BINDIR@/resin-persistent-logs

[Install]
WantedBy=multi-user.target
