[Unit]
Description=Resin Hostname Configuration
Requires=resin-boot.service balena-device-uuid.service bind-etc-hostname.service
After=resin-boot.service balena-device-uuid.service bind-etc-hostname.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BINDIR@/resin-hostname

[Install]
WantedBy=multi-user.target
