[Unit]
Description=Resin device register
Requires=connman.service mnt-conf.mount
After=connman.service mnt-conf.mount

[Service]
Type=simple
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-device-register

[Install]
WantedBy=multi-user.target
