[Unit]
Description=Resin device register
Requires=mnt-boot.mount resin-device-uuid.service
After=mnt-boot.mount resin-device-uuid.service

[Service]
Type=simple
ExecStart=@BASE_BINDIR@/bash @BINDIR@/resin-device-register

[Install]
WantedBy=multi-user.target
