[Unit]
Description=Hostapp extensions updater
Requires=resin-data.service balena.service
After=resin-data.service balena.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/bash @BINDIR@/update-hostapp-extensions

[Install]
WantedBy=multi-user.target
