[Unit]
Description=Hostapp extensions updater
Requires=mnt-data.mount balena-data-reset.service balena.service
After=mnt-data.mount balena-data-reset.service balena.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/bash @BINDIR@/update-hostapp-extensions

[Install]
WantedBy=multi-user.target
