[Unit]
Description=Expand resin-data partition
DefaultDependencies=no
Before=resin-data.service umount.target
After=resin-boot.service
Conflicts=umount.target
ConditionVirtualization=!docker

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/sh @BINDIR@/resin-filesystem-expand

[Install]
WantedBy=multi-user.target
