[Unit]
Description=Disk watchdog service for monitoring disk health
After=local-fs.target
OnFailure=disk-watchdog-failure.service
ConditionPathExists=!@DISK_WD_FAIL_DIR@/disabled

[Service]
Type=notify
ExecStart=/bin/sh -c '@DAEMON_PATH@ -v -f @WD_TEST_FILE@ -b $(source @OS_HELPERS_FS@ && get_sector_size /dev/disk/by-state/active)'
WatchdogSec=30s
StartLimitInterval=2min
StartLimitBurst=3
StartLimitAction=reboot-force
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
