[Unit]
Description=Disk watchdog failure handler
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=/usr/bin/disk-watchdog-failure-handler
RemainAfterExit=no
TimeoutSec=30s
Restart=no
