name: Generic AARCH64

on:
  pull_request:
    branches:
      - main
      - master
      # ESR branches glob pattern
      - "[0-9]+.[0-9]+.x"
  pull_request_target:
    branches:
      - main
      - master
      # ESR branches glob pattern
      - "[0-9]+.[0-9]+.x"

jobs:
  yocto:
    name: Yocto
    uses: balena-os/balena-yocto-scripts/.github/workflows/yocto-build-deploy.yml@83de190aa122be4bd706c855793273dc9f8b7c8c # v1.25.59
    # Prevent duplicate workflow executions for pull_request (PR) and pull_request_target (PRT) events.
    # Both PR and PRT will be triggered for the same pull request, whether it is internal or from a fork.
    # This condition will prevent the workflow from running twice for the same pull request while
    # still allowing it to run for all other event types.
    if: (github.event.pull_request.head.repo.full_name == github.repository) == (github.event_name == 'pull_request')
    secrets: inherit
    with:
      # Needed for testing - defaults to production
      deploy-environment: balena-staging.com
      machine: generic-aarch64
      device-repo: balena-os/balena-generic
      device-repo-ref: master
      # Pin to the current commit
      meta-balena-ref: ${{ github.sha }}
      # Use QEMU workers for testing and run cloud suite against balenaCloud production
      # This would be faster with KVM on ARM64 but nested KVM is only on x86_64
      test_matrix: >
        {
          "test_suite": ["os","cloud","hup"],
          "environment": ["balena-cloud.com"],
          "worker_type": ["qemu"],
          "runs_on": [["self-hosted", "X64", "kvm"]]
        }
